argon2-cffi
email_validator==1.3.0
fastapi
Flask==2.2.2
Flask_Mail==0.9.1
pydantic==1.10.2
PyYAML==6.0
SQLAlchemy==1.4.42
uvicorn
aiofiles
python-multipart
pymysql
python-jose[cryptography]
aiosqlite
