{% extends 'base.html' %}



{% block content %}

<script>

    var file;

    async function submit() {
        url = document.getElementById('url').value;
        method = document.getElementById('method').value;
        request_body = JSON.parse(document.getElementById('request-body').value);

        console.log(request_body, file);
        let response = send_file('/upload_task', 'POST', request_body, file);
        console.log(await response.body);
    }

    function set_file() {

    }

</script>

<h1>Request</h1>

<table>
  <tr><td>URL</td><td><input type="text" id="url"></td></tr>
  <tr><td>Method</td><td><input type="text" id="method"></td></tr>
  <tr><td>Request body</td><td><textarea id="request-body" rows="16" cols="80"></textarea></td></tr>
</table>


<br>

<input id="file" type="file" onchange="set_file()"></input>
<button id="clear" onclick="document.getElementById('file').value = null">Clear</button>
<button id="submit" onclick="submit()">Send request</button>


<h1>Response</h1>

<div id="response"></div>


  
{% endblock %}