{% extends 'base.html' %}

Lobby


{% block content %}
<script>

    var file;

    async function submit() {
        name = document.getElementById('name').value;
        creator = document.getElementById('creator_name').value;
        details = document.getElementById('details').value;

        fetch_json('create_task','POST',{'name':name,
                                            'creator':creator,
                                            'details':details,
                                            })
    }
    async function delete_task() {
        id = document.getElementById('id').value;
        fetch_json('delete_task','POST',{'id':id})

    }
    async function edit_task(){
        id = document.getElementById('id').value;
        edit_details = document.getElementById('edit_details').value;
        fetch_json('edit_task',"POST",{
            "id":id,
            "details":edit_details
        })
    }
    async function get_info(){
        id = document.getElementById('id').value;
        response=fetch_json('get_task',"POST",{
            "id":id,
        })
        
        let response1 = await response


        document.getElementById('info_name').innerHTML=response1[0].name;
        document.getElementById('info_creator').innerHTML=response1[0].creator
        document.getElementById('info_details').innerHTML=response1[0].details
        document.getElementById('question').innerHTML=response1[0].questions
        document.getElementById('results').innerHTML=response1[0].results
    }

</script>
<h1>Create Task</h1>

<table>
  <tr><td>Name</td><td><input type="text" id="name"></td></tr>
  <tr><td>creator name</td><td><input type="text" id="creator_name"></td></tr>
  <tr><td>details</td><td><textarea id="details" rows="16" cols="80"></textarea></td></tr>
</table>


<br>

<button id="submit" onclick="submit()">create task</button>
<label for="id"><b>id</b></label>
<input  id='id' type="text" placeholder="id" name="id">
<button id="delete" onclick="delete_task()">delete task</button>
<label for="edit_details"><b>details</b></label>
<input  id='edit_details' type="text" placeholder="edit_details" name="edit_details">
<button id="edit" onclick="edit_task()">edit task</button>
<button id="get_info" onclick="get_info()">get_info</button>
<h1>Info</h1>
<table> 
    <tr><td>Name</td><td id ='info_name'></td></tr>
    <tr><td>creator name</td><td id = 'info_creator'></td></tr>
    <tr><td>details</td><td><textarea id="info_details" rows="16" cols="80"></textarea></td></tr>
    <tr><td>questions</td><td id = 'question'></td></tr>
    <tr><td>results</td><td id='results'></td></tr>
</table>


<div id="response"></div>
 {% endblock %}